*
!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.vcxproj.user
!*.cpp
!*.h
!make.sh
!*.md
!*.ini
!*.ttf
!*.ind
!*.png
!*.dat
!*.bin
!*.txt
!*.ayu
!*.con
!*.map
!*.mid
!*.wav
!/external/  
!/external/*
!/external/**/*
.gitignore